body{
        background-color: #e4e4e475;
        font-family: 'Noto Sans Regular', Arial, sans-serif;

}

a{
        text-decoration: none;
        color: black;
}

.title {
        /* margin-top: 50px; */
        /* margin-bottom: 0; */
}

.objects {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
}

.objects__container 
{
        /* margin-top: 50px; */
        display: flex; 
        grid-column: 3/11;     
        min-height: 80vh;  
}
.objects__nav {
        list-style-type: none;
        font-size: 18px;
        width: 250px;
}
.objects__nav-item_active {
        font-weight: bold;
}
.objects__nav-item {
        padding-bottom: 20px;
        word-wrap: break-word;
}
.objects__items {
        list-style-type: "■ ";
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        
}

.objects__item{
        /* border-style: solid;
        border-color: #d9d9d988; */
        margin-bottom: 20px;
        display: flex;
        width: 600px;
        background-color: #d9d9d988;
        border-radius: 15px;
}
.objects__pic {
        max-height: 135px;
        border-radius: 15px 0 0 15px;
}
.objects__about {
        /* flex: 1;  */
        /* min-width: 100%; */

        padding: 16px 0 0 39px;
}

.objects__price{
        font-size: 22px;
        margin: 0;
        font-weight: 600;
        padding: 1.57% 0 1.57% 0;
}


.objects__text {
}

.objects__com{
        padding-top: 20px;    
}



