.reviews__carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    width: 900px;
    height: 250px;

    background-color: #e4e4e4;

    margin: 0 auto;
    /* margin-top: 4.17% ; */
    text-align: center;
    border-radius: 10px 10px 0 0;
    
}

.reviews__item {
    flex: 0 0 100%;
    /* каждый отзыв занимает всю ширину */
    transition: transform 0.5s;
    /* добавляем анимацию перехода */
    margin: auto;


}

.reviews {
    /* margin: 4.17% 0 4.17% 0; */
    /* margin-bottom: 50px; */
    font-family: 'Noto Sans Regular', Arial, sans-serif;
    margin-bottom: 7.463vh;
    height: 80vh;

}

button {
    margin: 0 10px;
    padding: 5px 10px;
    /* background-color: #f1f1f1; */
    border: none;
    cursor: pointer;
    font-size: 30px;
    /* color: #f1f1f1; */
}

button:hover {
    /* background-color: #e0e0e0; */
}


.reviews__client {
    font-size: 30px;
}

.reviews__text {
    font-size: 18px;
    padding-top: 20px;
    padding-inline: 150px;
}

.buttons {
    margin: auto;
    text-align: center;
    width: 900px;
    /* height: 250px; */
    padding-bottom: 20px;
    background-color: #e4e4e4;
    border-radius: 0 0 10px 10px;

}
